.gradient-1 {
  background: linear-gradient(
      270deg,
      rgba(0, 159, 159, 0.1) 0%,
      rgba(243, 152, 0, 0.25) 100%
    ),
    $white;
}

.gradient-2 {
  background: linear-gradient(
      90deg,
      rgba(0, 159, 159, 0.3) 0%,
      rgba(229, 0, 100, 0.3) 100%
    ),
    $white;
}

.gradient-3 {
  background: linear-gradient(
      360deg,
      rgba(124, 26, 115, 0.25) 0%,
      rgba(243, 152, 0, 0.25) 100%
    ),
    $white;
}
