.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.project-cartouche {
  border: 1px solid black;
  margin: 0 15px;

  .project-infos {
    border-top: 1px solid black;

    @include media-breakpoint-up(lg) {
      border-top: 0;
      border-left: 1px solid black;
    }
  }
}
