{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
  	<div class="icons-container">{{ source('/dist/icons.svg') }}</div>

		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
    <div class="site-wrapper">
      {% block header %}
        {% include 'parts/header.twig' %}
      {% endblock %}

      <section id="content" role="main" class="content-wrapper">
        <div class="wrapper">
          {% block content %}
            Sorry, no content
          {% endblock %}
        </div>
      </section>

      {% block footer %}
        {% include 'parts/footer.twig' %}
        {{ function('wp_footer') }}
      {% endblock %}
    </div>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-J33VHG9V1K"
      ></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-J33VHG9V1K");
      </script>
	</body>
</html>
