{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <h1>
      frontpage:
      {{post.title}}
    </h1>
    <div class="page-content">
      {{post.content}}
    </div>
  </div>
{% endblock %}
