{% extends "base.twig" %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        {% include 'components/galerie-slider.twig' with {galerie: post.get_field("galerie")} %}
      </div>
      <div class="col-md-4">
        <div class="mb-5">
          <h1>{{ post.title }}</h1>
          <span class="badge">
            {{ post.terms("years")[0].name }}
          </span>
          <span class="badge">
            {{ post.terms("subjects")[0].name }}
          </span>
        </div>
        <div>
          {{ post.content }}
        </div>
      </div>
    </div>
{% endblock %}
