.btn {
  display: inline-block;
}

.jpo_btn {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 40px;
  background: white;
  text-transform: uppercase;
  transition:.2s;
}

.jpo_btn:hover {
  background: black;
}

.jpo_btn:hover a {
  color: white;
}

.jpo_btn a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .jpo_btn a {
    font-size: 14px;
  }

  .jpo_btn {
    padding: 5px 10px;
  }
}