.icons-container {
  display: none;
}

.icon {
  display: inline-flex;
  align-self: center;

  svg {
    height: 1.5em;
    width: 1.5em;
  }

  &.icon-sm svg {
    height: 0.75em;
    width: 0.75em;
  }

  &.icon-lg svg {
    height: 2.5em;
    width: 2.5em;
  }

  &.baseline svg {
    top: 0.125em;
    position: relative;
  }
}
