$themeColor: $black !default;

@import "~swiper/swiper.scss";

.swiper {
  position: relative;
}

.swiper-slide {
  img {
    width: 100%;
    height: auto;
  }
}

.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  width: auto;
  color: #5e5d5e;
  z-index: 1000;
  cursor: pointer;
  transform: translateY(-50%);

  .icon {
    font-size: 2rem;
  }
}

.swiper-prev {
  left: 0;
}

.swiper-next {
  right: 0;
}
