.tb_title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.tb_bloc {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 30px;
  text-align: center;
}

.containerfull.bigtitle {
  width: 100% !important;
  overflow: hidden;
}

.title.bigtitle {
  font-size: 250px;
  margin: 0;
  white-space: nowrap;
  line-height: 1;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 100px;
  }
}

.scroll-container {
  margin: 200px 0;
  @include media-breakpoint-down(sm) {
    margin: 100px 0;
  }
}

.scroll-left,
.scroll-right {
  position: relative;
}

@include media-breakpoint-down(md) {
  .tb_title {
    font-size: 17px;
    line-height: 20px;
  }
}
