.schedule {
  text-align: center;
  padding: 40px 0 15px 0;
}

.ratio.ratio-16x9 {
  margin: 25px 0;
}

.ratio.ratio-16x9.showreel {
  margin: 0;
}

.container.vlog {
  height: 550px;
  width: 900px;
  margin-top: 80px;
}

.position-relative.vlog {
  height: 550px;
  width: 900px;
}

.ratio.ratio-16x9.vlog {
  width: 748px;
  border: 4px solid black;
  margin: 0;
}

.position-absolute.vlog {
  top: -16px;
  left: 4.4px;
}

.vlog_block img {
  width: 802px;
}
