.schedule {
    text-align: center;
    padding: 40px 0 15px 0;
}

.ratio.ratio-16x9 {
    margin: 25px 0;
}

.live_questions_input {
    border-radius: 20px;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.live_btn {
    width: 100px;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.live_btn:hover {
    background-color: black;
}

.ratio.ratio-16x9.showreel {
    margin: 0;
}

.ratio.ratio-16x9.vlog {
    width: 744px;
}