{% include 'parts/title-banner.twig' with { title: "Formations" } %}
<div class="nhub_container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <a href="#" class="jpo_btn">Année préparatoire</a>
      <a href="#" class="jpo_btn">Interactive Media Designer</a>
      <a href="#" class="jpo_btn">Maturité professionnelle artistique</a>
  </div>
</div>
