<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="homepagetitle">Bienvenue à <u>Inside eikon</u> !</h1>
		</div>
		<p>
			Texte introductif du site.
		</p>
		<button type="button" class="jpo_btn">Vous êtes venus pour le live ? C'est par ici !  →</button>
	</div>
</div>
