{% include 'parts/title-banner.twig' with { title: "Formations" } %}
<div class="d-flex justify-content-center align-items-center">
  <div class="nhub_container">
    <div class="row">
      <div class="col">
        <button type="button" class="jpo_btn">Click Me!</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        bleh
      </div>
      <div class="col">
        bleh
      </div>
    </div>
  </div>
</div>
