{% include 'parts/title-banner.twig' with { title: "Formations" } %}
<div class="nhub_container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <button type="button" class="jpo_btn"><a href="#" target="_blank">Année préparatoire</a></button>
      <button type="button" class="jpo_btn"><a href="#" target="_blank">Interactive Media Designer</a></button>
      <button type="button" class="jpo_btn"><a href="#" target="_blank">Maturité professionnelle artistique</a></button>
  </div>
</div>
