{% if post.get_field('video_livefeed') %}
  <div id="livefeed">
    {% include 'parts/title-banner.twig' with { title: "live" } %}
    <div class="container">
      <div class="row schedule text-center my-4">
        <div class="col-12 col-md-4 my-2">Année préparatoire →  14h</div>
        <div class="col-12 col-md-4 my-2">Interactive Media Designer →  15h</div>
        <div class="col-12 col-md-4 my-2">Maturité Post-CFC MP2 →  16h</div>
      </div>
      <div class="ratio ratio-16x9 mb-3">
        {{ post.get_field('video_livefeed') }}
      </div>
      <div class="live_input mb-5">
        {% if options.contact_form_id %}
          {{ function('do_shortcode', '[wpforms id="' ~ options.contact_form_id ~ '"]') }}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
