<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="homepagetitle">Bienvenue à <u>Inside eikon</u> !</h1>
		</div>
		<p>
			Texte introductif du site.
		</p>
		<div class="col-6"></div>
		<div class="col-6 d-flex justify-content-end">
			<button type="button" class="jpo_btn"><a href="#" target="__blank">Vous êtes venus pour le live ? C'est par ici !  →</a></button>
		</div>
	</div>
</div>
