<header class="site-header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="header_nav">
        <a href="{{ site.link }}">Inside eikon</a>
      </div>
      <div class="header_nav">
        {% include 'parts/menu.twig' %}
      </div>
      {% if options.url_inscription %}
        <div class="header_nav">
          <a href="{{ options.url_inscription }}" target="_blank">Inscriptions →</a>
        </div>
      {% endif %}
    </div>
  </div>
</header>
