{% if menu %}

  <nav class="main-menu">
    {% for item in menu.items %}
      <a class="menu-item {% if item.current %}current-menu-item{% endif %}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </nav>
{% endif %}
