{% if post.galerie %}
  <div {% if galerie|length > 1 %} class="swiper" {% endif %}>
    <button class="btn btn-light open-gallery ">
      Agrandir
    </button>
    <div class="swiper-wrapper">
      {% for item in galerie %}
        <div class="swiper-slide">
          {% if item.acf_fc_layout == "image" %}
            <img src="{{ item.image.sizes.large }}">
          {% elseif item.acf_fc_layout == "video" %}
            <div class="ratio ratio-16x9">
              {{ item.video }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if galerie|length > 1 %}
      <div class="row d-flex justify-content-between">
        <div class="swiper-prev">
          {% include 'components/icon.twig' with { icon_name: 'chevron-left', icon_class: '' } %}
        </div>
        <div class="swiper-next">
          {% include 'components/icon.twig' with { icon_name: 'chevron-right', icon_class: '' } %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
