.wp-block-eikonblocks-card {
  .eikonblock-content {
    display: flex;
    border: 1px solid #f0f0f0;
  }

  .card-content {
    flex: 1;
    border: 1px solid #f0f0f0;
    padding: 1.5rem;
  }

  .card-image {
    flex: 1;
    border: 1px solid #f0f0f0;
    padding: 1.5rem;
  }

  .card-image-left {
    order: -1;
  }

  .card-image-right {
    order: 1;
  }

  img {
    width: 100%;
    height: auto;
  }
}
