/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-eikonblocks-test {
  background-color: #21759b;
  color: #fff;
  padding: 10px;
}
